.post-row {
  display: flex;
  justify-content: flex-start;
  margin: 2em 0;

  .post-avatar {
    width: 128px;
    height: 128px;
    margin-right: 10px;
  }

  .post-description {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .post-name {
    width: 70%;
    height: 30px;
    margin-bottom: 10px;
  }

  .post-bio {
    width: 100%;
    height: 88px;
  }
}